

<h2> I am From Error Page</h2>
<body>
    <div>
       

        @*<p>Exception :- @Model.Exception</p>*@
        <p><strong>Controller:</strong> @Model.ControllerName</p>
        <p><strong>Action:</strong> @Model.ActionName</p>
        <p><strong>Exception:</strong> @Model.Exception.Message</p>
    </div>
</body>


